<div class="feedback-title c-wt bg-b">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 animated fadeInRight">
				<h3>Customer Feedback Form</h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid animated fadeInUp">
	<div class="col-sm-12">
		<p class="statement mg-t-20 mg-b-20">
			We would like to hear more about your customer experience. Please complete the form below and one of our customer service
			agents will get back to you.
		</p>
		<div class="steps mg-b-30">
			<div class="step">
				<h3 class="medium">Step 1</h3>
				<p>Fill out the form</p>
			</div>
			<div class="arrow">
				<div>
					<span>></span>
				</div>
			</div>
			<div class="step">
				<h3 class="medium">Step 2</h3>
				<p>Make sure that all fields marked with * are completed</p>
			</div>
			<div class="arrow">
				<div>
					<span>></span>
				</div>
			</div>
			<div class="step">
				<h3 class="medium">Step 3</h3>
				<p>Submit form</p>
			</div>
		</div>
	</div>
</div>

<div class="feedback-form animated fadeInUp bg-wt2 pd-t-20 pd-b-20">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Full name<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="name" placeholder="full name">
						</div>
					</div>


					<div class="form-group">
						<label for="email" class="col-sm-3 control-label">Email Address<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="email" placeholder="email">
						</div>
					</div>

					<div class="form-group">
						<label for="phone" class="col-sm-3 control-label">Phone<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="phone" placeholder="phone no.">
						</div>
					</div>

					<div class="form-group">
						<label for="comment" class="col-sm-3 control-label">Comment/Question<sup>*</sup></label>
						<div class="col-sm-6">
							<textarea class="form-control" rows="8" id="comment" placeholder="comment/question"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="accountNumber" class="col-sm-3 control-label">Account Number</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="accountNumber" placeholder="account no.">
						</div>
					</div>

					<div class="form-group">
						<label for="waybillNumber" class="col-sm-3 control-label">Waybill Number</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="waybillNumber" placeholder="waybill no.">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn bg-lime btn-lg pull-right">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>