<div class="footer-contacts animated fadeInUp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="contacts">
                    <div class="contact-details">
                        <img class="pull-left" src="/assets/images/footer_logo.png" alt="zhe.co.bw">
                    </div>
                    <div class="contact-details">
                        <p class="pull-right text-center"> <b>Physical Address: </b>Plot 22995, Nkoyaphiri, Mogoditshane, Botswana<br /> <b>Office: </b>+267 398 0380, +267 393 0349, <b>Email: </b>sales@zhe.co.bw</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default animated fadeInUp" role="navigation">
    <div class="container-fluid">
        <p class="navbar-text">Copyright 2016 Zebra Hub of Excellence. All rights reserved.
        </p>
    </div>
</nav>