<div class="feedback-title c-wt bg-b">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="animated fadeInRight medium">Request For Quotation</h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid animated fadeInUp">
	<div class="col-sm-12">
		<p class="statement mg-t-20 mg-b-20">
			Please complete the form below to request for a quotation and one of our customer service agents will get back to you.
		</p>
		<div class="steps mg-b-30">
			<div class="step">
				<h3 class="medium">Step 1</h3>
				<p>Fill out the form</p>
			</div>
			<div class="arrow">
				<div>
					<span>></span>
				</div>
			</div>
			<div class="step">
				<h3 class="medium">Step 2</h3>
				<p>Make sure that all fields marked with * are completed</p>
			</div>
			<div class="arrow">
				<div>
					<span>></span>
				</div>
			</div>
			<div class="step">
				<h3 class="medium">Step 3</h3>
				<p>Click ‘get quote’</p>
			</div>
		</div>
	</div>
</div>

<div class="request-form animated fadeInUp bg-wt2">
	<div class="container-fluid">
		<div class="row pd-l-20 pd-r-20">
			<div class="col-sm-12">
				<form class="form-horizontal">

					<div class="sec-title"><span class="no">1</span>Ship From/To</div>

					<div class="sub-sec-title"> From</div>
					<div class="form-group">
						<label for="fromCountry" class="col-sm-3 control-label">Country<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="fromCountry" placeholder="country">
						</div>
					</div>

					<div class="form-group">
						<label for="fromCity" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="fromCity" placeholder="city">
						</div>
					</div>

					<div class="sub-sec-title"> To</div>
					<div class="form-group">
						<label for="toCountry" class="col-sm-3 control-label">Country<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="toCountry" class="form-control" id="toCountry" placeholder="country">
						</div>
					</div>

					<div class="form-group">
						<label for="toCity" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="toCity" placeholder="city">
						</div>
					</div>

					<div class="sec-title"><span class="no">2</span>Description of goods</div>

					<div class="form-group">
						<label for="service" class="col-sm-3 control-label">Service Type<sup>*</sup></label>
						<div class="col-sm-2">
							<select type="email" class="form-control" id="service">
                                <option value="courier">ECONOMY</option>
                                <option value="freight">OVER NIGHT EXPRESS</option>
                                <!--<option value="customs">Customs Clearing</option>-->
                                <!--<option value="3pl">Third Party Logistics</option>-->
                            </select>
						</div>
					</div>
                    <div class="form-group">
						<label for="weight" class="col-sm-3 control-label">Weight<sup>*</sup></label>
						<div class="col-sm-2">
							<input type="number" class="form-control" id="weight" placeholder="weight">
						</div>
						<div class="col-sm-2">
							<select type="text" class="form-control" id="weight_units">
                                <option value="grams"><b>g</b></option>
                                <option value="kg"><b>Kg</b></option>
                                <option value="tons"><b>Tons</b></option>
                            </select>
						</div>
					</div>
					<div class="form-group">
						<label for="length" class="col-sm-3 control-label">Length<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="length" placeholder="length">
						</div>
					</div>
					<div class="form-group">
						<label for="width" class="col-sm-3 control-label">Width<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="width" placeholder="width">
						</div>
					</div>
					<div class="form-group">
						<label for="height" class="col-sm-3 control-label">Height<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="height" placeholder="height">
						</div>
					</div>

					<div class="form-group">
						<label for="packages" class="col-sm-3 control-label">No. of Packages<sup>*</sup></label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="packages" placeholder="packages">
						</div>
					</div>

					<!--<div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Date<sup>*</sup></label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="date" placeholder="date">
                        </div>
                    </div>-->

					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn bg-lime btn-lg pull-right">Get a Quote</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>