<div class="feedback-title c-wt bg-b">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="animated fadeInRight medium">Request For Quotation (Warehousing)</h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid animated fadeInUp">
	<div class="col-sm-12">
		<p class="statement mg-t-20 mg-b-20 text-justify">
			Request a quote for your specialised logistics needs and one of sales agents will contact you. Answer the following questions
			to find out if you are ready to outsource your fullfillment.
		</p>
		<div class="">
			<p class=" mg-t-20 mg-b-20 text-justify">
				1. Are you a start up company?
				<span class="">
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="">Y</label>
                    </div>
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="">N</label>
                    </div>
                </span>
			</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p class=" mg-t-20 mg-b-20 text-justify">
					2. If (N), do you ship more than 250 orders per month?
					<span class="">
                        <div class="checkbox-inline">
                            <label><input type="checkbox" value="">Y</label>
                        </div>
                        <div class="checkbox-inline">
                            <label><input type="checkbox" value="">N</label>
                        </div>
                    </span>
				</p>
			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</div>
</div>

<div class="request-form animated fadeInUp bg-wt2">
	<div class="container-fluid">
		<div class="row pd-l-20 pd-r-20">
			<div class="col-sm-12">
				<form class="form-horizontal">
					<div class="sec-title"><span class="no">1</span>Company Details</div>

					<div class="form-group">
						<label for="yourName" class="col-sm-3 control-label">Your Name<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="yourName" placeholder="eg.. Firstname Initials Surname">
						</div>
					</div>

					<div class="form-group">
						<label for="companyName" class="col-sm-3 control-label">Company Name<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="companyName" placeholder="company name">
						</div>
					</div>

					<div class="form-group">
						<label for="phone" class="col-sm-3 control-label">Phone<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="phone" placeholder="Phone number">
						</div>
					</div>

					<div class="form-group">
						<label for="website" class="col-sm-3 control-label">Website</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="website" placeholder="website">
						</div>
					</div>

					<div class="form-group">
						<label for="orders" class="col-sm-3 control-label">Orders Per Month<sup>*</sup></label>
						<div class="col-sm-4">
							<select class="form-control" id="orders">
                                <option value="200">200 - 250</option>
                                <option value="250">250 - 300</option>
                                <option value="300">300 - 350</option>
                            </select>
						</div>
					</div>

					<div class="form-group">
						<label for="sku" class="col-sm-3 control-label">Number of items/SKU<sup>*</sup></label>
						<div class="col-sm-4">
							<select class="form-control" id="sku">
                                <option value="20">0 - 20</option>
                                <option value="50">20 - 50</option>
                            </select>
						</div>
					</div>

                    <div class="form-group">
						<label for="shippingSystem" class="col-sm-3 control-label">Current shipping system<sup>*</sup></label>
						<div class="col-sm-4">
							<select  class="form-control" id="shippingSystem">
                                <option value="200">in-house</option>
                                <option value="250">sjsbkhsa</option>
                            </select>
						</div>
					</div>

					<div class="sec-title"><span class="no">2</span>Ship From/To</div>

					<div class="sub-sec-title"> From</div>
					<div class="form-group">
						<label for="fromCountry" class="col-sm-3 control-label">Country<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="fromCountry" placeholder="country">
						</div>
					</div>

					<div class="form-group">
						<label for="fromCity" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="fromCity" placeholder="city">
						</div>
					</div>

					<div class="sub-sec-title"> To</div>
					<div class="form-group">
						<label for="toCountry" class="col-sm-3 control-label">Country<sup>*</sup></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="toCountry" placeholder="country">
						</div>
					</div>

					<div class="form-group">
						<label for="toCity" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="toCity" placeholder="city">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn bg-lime btn-lg pull-right">Get a Quote</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>