<div class="need-to-know bg-ecom pd-t-20 pd-b-30 animated fadeInUp">
	<div class="container-fluid">
		<div class="row pd-l-20">
			<div class="col-sm-6">
				<h3>What is e-Commerce?</h3>
				<p>
					Commercial transactions conducted electronically on the Internet. This means that one shop online anywhere at any time.
				</p>
				<p>
					Never has there been a time for eCommerce than now, in the era were technology is part of our lives. eCommerce has revolutionized
					the way in which companies do their business.
				</p>
				<a class="btn btn-lg bg-b c-wt">e-Commerce</a>
			</div>
			<div class="col-sm-6">
				<img src="/assets/images/ecom-ill.png" class="image-responsive" alt="">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid animated fadeInUp">
	<div class="row mg-b-20 mg-t-20 pd-l-20 pd-r-20">
		<div class="col-sm-12">
			<h3>Why ZHE eCommerce platform?</h3>
		</div>
	</div>
	<div class="row pd-l-20 pd-r-20">

		<div class="col-sm-12">

			<div class="media">
				<div class="pull-left">
					<div class="num-box bg-b">
						<div class="inner">
							<h1>1.</h1>
						</div>
					</div>
					<div class="num-box-footer bg-orange">&nbsp;</div>
				</div>
				<div class="media-body pd-t-20 pd-b-20">

					<h4 class="media-heading">Tailored solutions</h4>
					<div class="media-text">
						<div class="row ">
							<div class="col-sm-4">
								Our team has vast experience in the space of retail, eCommerce and logistics, ZHE offers business or strategic solutions
								tailored to
							</div>
							<div class="col-sm-4">
								your needs or specifications.This can be from interfacing your portal in our eCommerce platform to creating the entire set
								up. We
							</div>
							<div class="col-sm-4">
								tailor your platform per your business needs and per your targeted clientele.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<div class="num-box bg-b">
						<div class="inner">
							<h1>2.</h1>
						</div>
					</div>
					<div class="num-box-footer bg-lime">&nbsp;</div>
				</div>
				<div class="media-body pd-t-20 pd-b-20">

					<h4 class="media-heading">Control and management</h4>
					<div class="media-text">
						<div class="row">
							<div class="col-sm-4">
								With eCommerce you have control at the palm of your hand at any time and any place.The portals are designed to create reports
								that
							</div>
							<div class="col-sm-4">
								allow the client to monitor and evaluate the product behavioral patterns which influences or enables better decision making.
							</div>
							<div class="col-sm-4">
								The reports also influence re order levels and ensure availability of stock based on customer usage.With eCommerce you have
								control at the palm of your hand at any time and any place.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="media">
				<div class="pull-left">
					<div class="num-box bg-b">
						<div class="inner">
							<h1>3.</h1>
						</div>
					</div>
					<div class="num-box-footer bg-pink">&nbsp;</div>
				</div>
				<div class="media-body pd-t-20 pd-b-20">

					<h4 class="media-heading">Brand recognition</h4>
					<div class="media-text">
						<div class="row">
							<div class="col-sm-6">
								Everyone across the global village can access your portal and thereby making your brand globally recognizable.
							</div>
							<div class="col-sm-6">
								The internet enhances your target audience exposing you to a wider range of customer base and opportunity for export.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="media mg-b-20">
				<div class="pull-left">
					<div class="num-box bg-b">
						<div class="inner">
							<h1>4.</h1>
						</div>
					</div>
					<div class="num-box-footer bg-lt-blue">&nbsp;</div>
				</div>
				<div class="media-body pd-t-20 pd-b-20">

					<h4 class="media-heading">Advertising & Marketing Costs</h4>
					<div class="media-text">
						<div class="row">
							<div class="col-sm-12">
								eCommerce, organic search engine traffic, social media traffic are some of the tailored solutions we can offer that are cost
								effective.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="media mg-b-20">
				<div class="pull-left">
					<div class="num-box bg-b">
						<div class="inner">
							<h1>5.</h1>
						</div>
					</div>
					<div class="num-box-footer bg-brown">&nbsp;</div>
				</div>
				<div class="media-body pd-t-20 pd-b-20">

					<h4 class="media-heading">Support</h4>
					<div class="media-text">
						<div class="row">
							<div class="col-sm-6">
								We offer end to end logistic solutions, from warehousing your products to being your logistics partner ensuring that your
								goods or products reach your clients in time.
							</div>
							<div class="col-sm-6">
								Our end to end scanning ensures a secure transition to your clients, as well as a proper monitoring of in transit products
								to your clients.

							</div>
							<!--<div class="col-sm-6">
								in transit products to your clients.
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>