<div id="about_us-carousel" class="carousel slide  animated fadeInUp" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#about_us-carousel" data-slide-to="0" class=""></li>
        <li data-target="#about_us-carousel" data-slide-to="1" class=""></li>
        <li data-target="#about_us-carousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner pd-b-10">
        <div class="item active">
            <img alt="ZHE HQ" src="/images/hq.png">
            <div class="container">
                <div class="carousel-caption z1">
                    <img alt="ZHE HQ" src="/images/z-29.png">
                </div>
            </div>
        </div>
        <div class="item">
            <img alt="ZHE HQ" src="/images/hq.png">
            <div class="container">
                <div class="carousel-caption z2">
                    <img alt="ZHE HQ" src="/images/z-30.png">
                </div>
            </div>
        </div>
        <div class="item">
            <img alt="ZHE HQ" src="/images/hq.png">
            <div class="container">
                <div class="carousel-caption z3">
                    <img alt="ZHE HQ" src="/images/z-31.png">
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#about_us-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#about_us-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="about_us pd-t-30 mg-b-30">
    <div class="container-fluid">
        <div class="row pd-l-20 pd-r-20">
            <div class="col-sm-6">
                <h3 class="medium">It all started with a vision</h3>
                <p>
                    ZHE was established in 2016 by 2 impressive leaders who had the vision to transform the logistics industry both locally (Botswana) and internationally. ZHE runs optimally and profitably and has made a conscious decision to remain adaptive to the ever
                    change market needs. In that spot ZHE leverages technologies and efficiencies to offer highly competitive solutions. ZHE challenges itself to be more advanced, aligned to the needs of the new economy and at all times be ahead (Game
                    Changer) of the pack in offering convenience to its consumers. ZHE implements this by simply living through our values safe, competitive, organized, responsive. We customize our solutions to meet your needs.
                </p>
                <p>
                    Zhe co-locates its warehouses and hubs to maximize resource utilization (costs reduction, shorter deliver times, happy customer). For our domestic and cross boarder dealings, we have established ZHE hubs in Botswana’s major cities, towns and Johannesburg
                    South Africa for easier connection to the world. We have further expanded our network through our Channel Sales Agents which is a youth empowerment initiative developed with the Government to give back to the community at large. This
                    empowerment initiatives gives the youth of Botswana the opportunity to own and manage their own ZHE branch with support and guidance of the ZHE team.

                </p>
                <p>
                    Our warehousing facilities stand over 8500 sqm with complete technology automated capabilities we are entrusted by customers all over the world to handle and manage their goods.
                </p>
                <p>
                    With our slogan ‘Delivered, thank you’ we intend to deliver excellent service which guarantees the ultimate customer satisfaction.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="row pd-t-10 pd-b-10">
                    <div class="col-sm-6">
                        <div class="abt-img" data-toggle="tooltip" title="Gaborone">
                            <img src="/images/abt_-09.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="abt-img" data-toggle="tooltip" title="Francistown">
                            <img src="/images/abt_-10.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row pd-t-10 pd-b-10">
                    <div class="col-sm-12">
                        <div class="abt2-img" data-toggle="tooltip" title="Maun">
                            <img src="/images/abt_-11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row pd-l-20 pd-r-20">
        <div class="col-sm-12">
            <h3 class="medium">Our Hubs</h3>
        </div>
    </div>
    <div class="row pd-t-20 pd-b-20 pd-l-20 pd-r-20">
        <div class="col-sm-3">
            <div class="abt3-img">
                <img src="/images/abt_-12.png" alt="">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="abt3-img">
                <img src="/images/abt_-13.png" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="abt3-img">
                <img src="/images/abt_-14.png" alt="">
            </div>
        </div>
        <div class="col-sm-2">With ZHE warehouses strategically sitted in easy-to-access locations, business has never been more convinient for your needs!</div>
    </div>
</div>