:host .navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar {
    margin-bottom: 0;
    
}
.nv{
    left: 50%;
    margin-right: -50%;
    position: absolute;
}
.navbar-brand {
    float: left;
    height: 100px;
    padding: 0px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand>img {
    float: left;
    height: 100px;
    padding: 5px;
    font-size: 18px;
    line-height: 100px;
}

@media (min-width: 750px) {
     :host .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 50px;
        background: url(../images/menu_sep.png) no-repeat;
        background-position-x: right;
        background-position-y: center;
        padding-left: 35px;
        padding-right: 35px;
    }
     :host .navbar-nav>li:last-child>a {
        background: none;
    }
}

@media (min-width: 768px) and (max-width: 970px) {
     :host .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 50px;
        background: url(../images/menu_sep.png) no-repeat;
        background-position-x: right;
        background-position-y: center;
        padding-left: 7px;
        padding-right: 7px;
    }
     :host .navbar-nav>li:last-child>a {
        background: none;
    }
}

@media (min-width: 970px) and (max-width: 1170px) {
     :host .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 50px;
        background: url(../images/menu_sep.png) no-repeat;
        background-position-x: right;
        background-position-y: center;
        padding-left: 20px;
        padding-right: 20px;
    }
     :host .navbar-nav>li:last-child>a {
        background: none;
    }
}

:host .navbar-default .navbar-nav>.open>a,
:host .navbar-default .navbar-nav>.open>a:hover,
:host .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #003148;
}

:host .dropdown-menu {
    color: #fff;
    background-color: #003148;
}

:host .dropdown-menu>li>a {
    color: #fff;
}

:host .dropdown-menu>li>a:hover,
:host .dropdown-menu>li>a:focus {
    color: #D4DC26;
    background-color: #003148;
}


/**/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}