<div class="container-fluid">
    <div class="navbar">
        <ul class="nav navbar-nav list-social-icons list-social-icons-sm pull-left pd-t-5 pd-b-5">
            <li class="icon-circle" data-toggle="tooltip" title="twitter">
                <a href="http://www.twitter.com/scottdorman" target="_blank"><span  class="fa fa-twitter"></span></a>
            </li>
            <li class="icon-circle" data-toggle="tooltip" title="facebook">
                <a href="http://www.twitter.com/scottdorman" target="_blank"><span  class="fa fa-facebook"></span></a>
            </li>
            <li class="icon-circle" data-toggle="tooltip" title="login">
                <a [routerLink]="['/login']"><span class="fa fa-user"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right pd-t-5 pd-b-5">
            <li class="icon-circle">
                <a (click)="showChat()" data-toggle="tooltip" data-placement="bottom" title="Live Chat"><span><img src="/images/chat.png" alt=""></span></a>
            </li>
            <li class="icon-circle">
                <a (click)="showTracker()" data-toggle="tooltip" data-placement="bottom" title="Parcel Tracking"><span><img src="/images/loc.png" alt=""></span></a>
            </li>
            <li class="icon-circle">
                <a [routerLink]="['/tariff-calculator']" data-toggle="tooltip" data-placement="bottom" title="Tariff Calculator"><span><img src="/images/calc.png" alt=""></span></a>
            </li>
        </ul>
    </div>
</div>