<div class="login-bg">
    <img src="/images/truck3.jpg" alt="">
</div>
<div class="container-fluid animated fadeInUp">
    <div class="col-sm-5 pd-t-30 pd-b-30">
        <form action="" method="POST" role="form">
            <h3>Login with your details</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" > Remember my password
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-block bg-b pull-right">Submit</button>
        </form>
    </div>
    <div class="col-sm-2">
        <div class="divider"></div>
    </div>
    <div class="col-sm-5 pd-t-30 pd-b-30">

        <form action="" method="POST" role="form">
            <h3>Forgot your password?</h3>
            <p>Please enter your user name to request a password. We will send it to the email address associated with your ZHE profile. </p>
            <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-lg btn-block bg-b pull-right">Submit</button>
        </form>
    </div>
</div>
<div class="feedback-form animated fadeInUp bg-wt2 pd-t-20 pd-b-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <h2>Open an account</h2>
                    <p class="statement">Thanks for registering with zhe</p>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Company name<sup>*</sup></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="name" placeholder="Company name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Full names<sup>*</sup></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Full names">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Phone<sup>*</sup></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email Address<sup>*</sup></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Postal code<sup>*</sup></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Postal code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Comments<sup>*</sup></label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="8" id="inputEmail3" placeholder="Email"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn bg-lime btn-lg pull-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>