<div class="">
	<div class="container-fluid animated fadeInUp">
		<div class="row pd-l-20">
			<div class="col-sm-12">
				<h3>Our 3PL service flow</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<img class="ill-image" src="/images/3pl1.png" alt="">
			</div>
		</div>
	</div>

</div>
<div class="need-to-know bg-lime fc-blk pd-t-20 pd-b-30 animated fadeInUp">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 pd-l-20 mg-l-20">
				<h3>Our 3PL Services</h3>
			</div>
		</div>
		<div class="row pd-l-20 pd-r-20">
			<div class="col-sm-6">
				<p>
					As a Third-party (3PL), ZHE provides flexible, optimal and efficient support solutions to meet the need of customers who
					do not have the capacity to respond to dynamic customer demands. This solution is aimed at reducing and managing their
					core operating costs and lead times so that our customers can outsource their non-core competences activities.
				</p>

			</div>
			<div class="col-sm-6">
				<p>
					Our Third-Party Logistics services model include the activities of providing solutions for our customers in relation to Logistics
					and Distribution. The packages of services as provided under this solution: include (but can also be customized depending
					on the kind of service required by the customer):
				</p>
			</div>
		</div>
	
	</div>
</div>
<!--<div class="strip bg-b2">
</div>-->
<div class="container-fluid  pd-b-30" id="collapse_3pl">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>3PL</h2>

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#menu2">SUPPLY CHAIN MGMNT. </a></li>
				<li><a data-toggle="tab" href="#menu1">WAREHOUSING</a></li>
				<li><a data-toggle="tab" href="#menu3">TRANSPORTATION</a></li>
				<li><a data-toggle="tab" href="#menu4">PROCUREMENT</a></li>
				<li><a data-toggle="tab" href="#menu5">REVERSE LOGISTICS</a></li>
			</ul>

			<div class="tab-content">

				<div id="menu1" class="tab-pane fade">
					<h5 class="pd-t-20">WAREHOUSING</h5>
					<div class="row mg-t-20 mg-b-20">
						<div class="col-sm-6">
							ZHE intends to understand the value flow of materials for its customers, that way we provide a perfect warehousing solution
							that is aligned and rationalized with the process of our customers.Our operational capacity provides a one-stop-service
						</div>
						<div class="col-sm-6">
							point that covers an end-to-end life cycle of warehousing which includes high quality warehousing operations (order receiving,order
							management, stock keeping and management, inventory management, returns management).
						</div>

					</div>
					<p>To provide solution to our customers, ZHE provide the following warehousing solutions:</p>

					<div class="row">
						<div class="col-sm-4">
							<h5>Dedicated Contract Warehousing</h5>
							<p>
								ZHE provides a dedicated warehousing solution to customers who seek independent and dynamic solutions. This includes recommending,
								stipulating, obtaining dedicated facilities, solutions development and implementation, project management, process
								improvement, recruitment and training.
							</p>

						</div>
						<div class="col-sm-4">
							<h5>Shared Warehousing</h5>
							<p>
								ZHE provides a solution to customers whom their needs do not need large capacities. This solution provides the flexibility
								and cost savings by allotment of resources (space, labor, equipment and transportation) while meeting customers’
								requirements at the same time.
							</p>


						</div>
						<div class="col-sm-4">
							<h5>Temperature Controlled Solutions</h5>
							<p>
								ZHE provides solutions to cater for temperature regulation requirements for any kind of consignments (Life sciences and General
								Goods) on storage and distribution solutions, which provide for all temperature specific needs.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<h5>Community Dock Warehousing</h5>
							<p>
								Synchronized activities intended to avoid storage by instantly receiving processing and dispatching consignments immediately
								to receivers.
							</p>
						</div>
						<div class="col-sm-4">
							<h5>Pick & Pack Warehousing</h5>
							<p>warehouse environment designed for effeicient processing of smaller and fast moving good orders.</p>
						</div>
						<div class="col-sm-4">
							<h5>Value Added Warehousing</h5>

						</div>
					</div>
					<div class="row">

						<div class="col-sm-4">
							<em>Postponement</em>
							<p>
								ZHE provides a solution to accomodate delaying final product configuration until the very last moment. This gives provision
								to manage and reduce inventory and provide a more reponse to dynamic product demand.
							</p>
						</div>
						<div class="col-sm-4">
							<em>Kittling Services</em>
							<p>
								ZHE also provides kittling solutions to accomodate communication of more than one consignments in a given amount of stock
								keeping unit (SKU).
							</p>
						</div>
						<div class="col-sm-4">
							<em>Hazardous Material Storage</em>
							<p>
								ZHE provides a solution for Warehousing chemical (including flammables, corrosives, oxidizers, gases, poisons,etc) consignments
								that meet the standards as required by the regulations.
							</p>
						</div>
					</div>
				</div>
				<!--end of menu 1-->

				<div id="menu2" class="tab-pane fade in active">
					<div class="row pd-t-20">
						<div class="col-sm-6">
							<p>
								ZHE provides support service to manage their suppliers. The service provides for management of buying terms, reorder patterns,
								managing the inbounds from the suplliers, logistical costs and inventories.
							</p>
						</div>
						<div class="col-sm-6">
							<p>Our solution package also includes planning the demands of customers to understand the behavior patterns of their
								supply chain network so that all the supplier related activities are well informed.
							</p>
						</div>
					</div>
				</div>
				<!--end of menu 2-->

				<div id="menu3" class="tab-pane fade">
					<div class="row pd-t-20">
						<div class="col-sm-6">
							<h5>&nbsp;</h5>
							<p>
								We offer solutions to support customers to move their materials either to their facilities, from their suppliers by all modes
								of transportation throughout our network.This support also includes transportation of raw materials directly to point
								of manufacturing and finished goods from point of manufacturing.
							</p>
						</div>
						<div class="col-sm-6">
							<h5>INDUSTRIAL PROJECTS TRANSPORTATION</h5>
							<p>
								ZHE treats Out-of-gauge transportation as projects, regardless of the size. We provide logistical support to transport these
								kinds of irregular sized pieces from any place to any place. This solution forms part of our Freight Extra services
								with cater for irregular handling.
							</p>
						</div>
					</div>

				</div>
				<!--end of menu 3-->

				<div id="menu4" class="tab-pane fade">
					<div class="row">
						<div class="col-sm-6">
							<p class="pd-t-20">
								Our support also specialises in managing sourcing and procurement processes for our customers, helping them to acquire or
								outsource products and services.
							</p>
						</div>
					</div>
				</div>
				<!--end of menu 4-->

				<div id="menu5" class="tab-pane fade">
					<div class="row">
						<div class="col-sm-6">
							<p class="pd-t-20">
								ZHE also recognises the logistical support of returning goods and products. This include management returns from customers
								and returns to suppliers.
							</p>
						</div>
					</div>
				</div>
				<!--end of menu 5-->
			</div>
		</div>
	</div>
</div>