
/*ul {
    list-style-type: none;
    padding: 0 0 0 8px;
}*/

.ill-image {
    width: 100%;
    height: auto;
}

.warehouse{
        list-style: outside circle solid;
        color: #000;
        /*list-style-position: inside;*/
}
hr{
    height: 1px;
    color: #ffffff;
}
.text-left{
    text-align: left;
}