:host .waybill-guide {
    background: url(../images/waybill_bg.png) #003148 no-repeat;
    background-position: center;
}

:host .waybill_guide {
    width: 100%;
}

.col {
    float: left;
}

.col .img,
.col .img>img {
    width: 100%;
}

.col .img {
    clear: both;
}

:host ul {
    margin: 0;
    padding: 0;
}

.waybill-conainer {
    width: 100%;
    display: block;
}

.waybill-container img {
    width: 100%;
    display: block;
}

.way-content {
    width: 100%;
    display: table;
}

.way-content>div.col1,
.way-content>div.col2,
.way-content>div.col3 {
    display: table-cell;
    background: #fff;
}

.way-content>div.col1 {
    width: 37.475%;
}

.way-content>div.col2 {
    width: 35.751%;
}

.way-content>div.col3 {
    width: 26.774%;
}
.grow { 
    transition: all .2s ease-in-out;
}
.grow:hover { 
    transform: scale(1.1); 
}

/*.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/*.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}