<!--<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>-->
<div class="waybill-guide animated fadeInUp">
    <div class="guide-overlay">
        <div class="container-fluid">
            <div class="row mg-t-30 mg-b-30">
                <div class="col-sm-12">

                    <div class="waybill-container">
                        <div class="wayheader">
                            <img src="/images/waybill/zwb_01.png" alt="Waibill Header">
                        </div>
                        <div class="way-content">
                            <div class="col1">
                                <div class="wrow grow "  title="payment method">
                                    <img src="/images/waybill/zwb_02.png" alt="Waibill Header">
                                </div>
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_05.png" alt="Waibill Header">
                                </div>
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_08.png" alt="Waibill Header">
                                </div>
                            </div>
                            <div class="col2">
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_03.png" alt="Waibill Header">
                                </div>
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_06.png" alt="Waibill Header">
                                </div>
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_07.png" alt="Waibill Header">
                                </div>
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_09.png" alt="Waibill Header">
                                </div>
                            </div>
                            <div class="col3">
                                <div class="wrow grow">
                                    <img src="/images/waybill/zwb_04.png" alt="Waibill Header">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ul class="waybill_guide">
                        <li class="col">
                            <div class="img">
                                <img src="/images/1.png" class="img-responsive" alt="">
                            </div>
                            <div class="img">
                                <img src="/images/2.png" class="img-responsive" alt="">
                            </div>
                            <div class="img">
                                <img src="/images/3.png" class="img-responsive" alt="">
                            </div>
                        </li>
                        <li class="col">
                            <div class="img">
                                <img src="/images/4.gif" class="img-responsive" alt="">
                            </div>
                            <div class="img">
                                <img src="/images/5.png" class="img-responsive" alt="">
                            </div>
                            <div class="img">
                                <img src="/images/6.png" class="img-responsive" alt="">
                            </div>
                            <div class="img">
                                <img src="/images/7.png" class="img-responsive" alt="">
                            </div>
                        </li>
                        <li class="col">
                            <div class="img">
                                <img src="/images/8.png" class="img-responsive" alt="">
                            </div>
                        </li>
                    </ul-->
                </div>
            </div>
        </div>
    </div>
</div>