<div class="need-to-know bg-y2 pd-t-20 pd-b-30 animated fadeInUp">
	<div class="container-fluid">
		<div class="row pd-l-20 pd-r-20">
			<div class="col-sm-6">
				<h4>Standard Logistics Services (C+F+C)</h4>
				<p>
					You can trust ZHE to give you access to safe, responsive and exciting nationwide and international deliveries to your convenience.
					We offer a variety of affordable services delivering across Botswana, South Africa, Dubai and the rest of the world
					at exceptional quality standards of service.
				</p>
				<p>ZHE Hubs are strategically placed to ensure that you have access to the ZHE quality service. Further to that, our vast
					local network stretches beyond our hubs through the Chanel Sales Agents project which is centred around youth empowerment
					and giving back to the community at large.
				</p>
				<p>
					ZHE has established strong international partnerships around the world to allow ease of movement of our customer shipments
					to and from all corners of the world.
				</p>
			</div>
			<div class="col-sm-6">
				<h4 class="">Courier, Freight and Customs Clearing</h4>
				<p>Our customers enjoy:</p>
				<ul class="cfc-ul">
					<li>Courier Xpress same day delivery.</li>
					<li>Courier next day delivery.</li>
					<li>Freight, Freight large.</li>
					<li>Customs Clearing.</li>
				</ul>

				<!--<h4><strong> Call Centre</strong></h4>-->

				<p>Customers perception of in the service centre is very important. ZHE has large and educated resource pool of call centre
					agents to manage customer interactions. We understand the importance of customer communication and accessibility and
					through our advanced call centre we are able to drive customer – focused operations to drive customer feedback.</p>
			</div>
		</div>
	</div>
</div>
<div class="mg-l-10">
	<div class="row mg-t-10 pd-l-20">
		<div class="container-fluid pd-t-20 pd-b-20">
			<h4>Courier, Freight, Customs Clearing Service Flow</h4>
		</div>
	</div>
</div>

<div class="container-fluid bg-lt-grey">
	<div class="row">
		<div class="col-sm-12">
			<img class="ill-image" src="/images/cfc1.png" alt="cfc_img">
		</div>
		
	</div>
</div>
<div class="strip bg-lime">
</div>
<div class="container-fluid  pd-b-30" id="collapse_cfc">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<h2>C+F+C</h2>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#menu1">COURIER</a></li>
				<li><a data-toggle="tab" href="#menu2">FREIGHT</a></li>
				<li><a data-toggle="tab" href="#menu3">CUSTOMS CLEARING</a></li>
			</ul>

			<div class="tab-content">

				<div id="menu1" class="tab-pane fade in active">
					<h5>Domestic & international</h5>
					<div class="row">
						<div class="col-sm-6">
							<h6>Courier Same Day Delivery</h6>
							<p>For those urgent deliveries, ZHE has crafted an exciting courier same day delivery service which affords our customers
								to receive their parcels and documents on the same day. This service applies to the following cities and towns Gaborone,
								Francistown, Palapye, Maun, Jwaneng, Johannesburg.
							</p>
						</div>
						<div class="col-sm-6">
							<h6>Courier Next day deliver</h6>
							<p>ZHE’s express shipping offers range of delivery choices from same day delivery for urgent parcels to a more cost effective
								overnight service. Our vast and reliable network ensures that our parcel is delivered at agreed fixed time.
							</p>
						</div>
					</div>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h5>FREIGHT</h5>
					<div class="row">
						<div class="col-sm-6">
							<p>
								Our freight service safely takes care of consignments heavier than 25kg locally, and internationally handling end to end
								logistical consignments. We pride ourselves with the capacity to transport massive volumes with ease across Botswana
								and rest of the world.
							</p>
						</div>
						<div class="col-sm-6">
							<p>ZHE offers Extra Large freight which involves transportation of those special or extra ordinary shipments that require
								specialised machinery and project management approach.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<h5>Types of Freight</h5>
							<h6>Air</h6>
							<p>Our extensive air fleet, global network and strong relationships with major commercial airlines lets us provide a
								wide range of aviation solutions.
							</p>
							<h6>Road</h6>
							<p>
								Our diverse fleet can provide road freight transport for everything from parcels and documents to oversized machinery and
								bulk commodities.
							</p>

						</div>
						<div class="col-sm-4">
							<p>ZHE’s commitment to continuous improvement means that our vehicles are among the safest on the roads, as well as being
								efficient.
							</p>
							<h6>Our road freight services:</h6>
							<ul class="cfc-ul">
								<li>Domestic and cross-border road freight services</li>
								<li>Linehaul services across our global network</li>
								<li>Heavy haulage solutions </li>
								<li>Customs clearance</li>
								<li>Contract services</li>
								<li>Cold storage freight</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<h6>Dedicated Freight Transport service</h6>
							<p>
								Our dedicated transport project teams work closely with you to assess your service requirements and help you develop a logistics
								management plan that can include consolidation and optimization of your fleet and route option.
							</p>
							<h6>Our dedicated transport services encompass:</h6>
							<ul class="cfc-ul">
								<li>Fleet design and innovation</li>
								<li>Fleet provisioning</li>
								<li>Driver recruitment and management</li>
								<li>Operations management </li>
							</ul>
						</div>
					</div>

				</div>
				<div id="menu3" class="tab-pane fade">
					<h5>CUSTOMS CLEARING</h5>
					<div class="row">
						<div class="col-sm-6">
							<p>In customs clearing, our in-house expert team thoroughly study local and international rules and regulations so that
								we can continuously help you smoothly sail past the most complex matters of trade compliance. We identify the demand
								patterns, challenges and hurdles for your business and help you organise paper work accordingly so as to respond
								to day-to-day formalities that your business flows smoothly.
							</p>
						</div>
						<div class="col-sm-6">
							<p> Our in-house expertise and understanding of customs clearing are helping us to offer customized solutions to all our
								clients to reduce lead time, optimize cash flow and minimize customs duties. With required documents in our hands,
								our exciting team of dedicated and responsive professionals ensure end-to-end solutions for both Import Customs Clearance
								and Export Customs Clearance in the most competitive manner.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>