<div class="need-to-know bg-wt2 pd-t-20 pd-b-30 animated fadeInUp">
	<div class="container-fluid">
		<div class="row pd-l-20 pd-r-20">
			<div class="col-sm-6">
				<h3>Customs Declarations Notes</h3>

				<p>
					Items travelling across international borders are subject to international standards of Customs clearance including customs
					documentation. In each country, the Customs department is responsible for monitoring international borders and implementing
					its country's regulations. Transportation of goods across boarders will be subject to Customs regulations and requirements.
					Customers corporation in ensuring all the document requested from them by ZHE is availed when requested will ensure
					easy movement of goods.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Counterfeit Goods </h3>

				<p>
					ZHE security policy states that it is not allowed to transport counterfeit goods via the ZHE network. ZHE does not want to
					be associated with counterfeit goods and upon suspicion of such goods being imported, Customs will be informed. It is
					prohibited in many countries to introduce counterfeit goods and where proven the Customs authority will seize the goods
					and penalize the buyer.
				</p>

			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-lime fc-blk pd-t-30">
	<h5 class="pd-l-20">ZHE may at its sole discretion refuse to carry other items listed below.</h5>
	<div class="row pd-b-30 pd-l-20">
		<ul class="need-2-know-ul">
			<div class="col-sm-6">
				<li>
					Bullion of any precious metal
				</li>
				<li>
					Cash (legal tender - bank notes, currency notes and coins)
				</li>
				<li>
					Complete firearms, ammunition, explosives / explosive devices
				</li>
				<li>
					Human remains or ashes
				</li>
			</div>
			<div class="col-sm-6">
				<li>
					Illegal goods, such as counterfeit goods, pornography and unlawful drugs
				</li>
				<li>
					Live animals (including but not limited to mammals, reptiles, birds and fish)
				</li>
				<li>
					Loose lithium metal batteries
				</li>
				<li>
					Loose precious and semi-precious stones (cut or un-cut, polished or un-polished)
				</li>
			</div>
		</ul>
	</div>
</div>
<div class="container-fluid animated fadeInUp">
	<div class="row col-sm-offset-1 mg-t-10 mg-t-30">
		<!--<div class="col-sm-9">-->
		<div class="col-sm-5 box-shadow">
			<h3 class="text-center">Prohibited Items</h3>
			<div class="img col-sm-offset-4">
				<img src="/assets/images/prohibited.png" class="img-responsive" alt="">
			</div>
			<div class="strip bg-lime mg-t-20 "></div>
			<p class="pd-l-20 pd-r-20">
				Items listed under "Read more.." will NOT be accepted for carriage by ZHE. This list includes items which are prohibited
				for carriage by any law, regulation or statute of any federal, state or local government of any country from, to or through
				which the items may be carried. For international carriage, there may be additional prohibited items specified by the
				country of destination.
			</p>
			<div class="row">
				<a data-target="#collapse_1" class="btn bg-b col-sm-offset-5 mg-b-30 c-wt" data-toggle="collapse">Read More...</a>
			</div>
			<div class="row pd-b-20">
				<div class="collapse col-sm-8 col-sm-offset-1" id="collapse_1">
					<ul class="need-2-know-ul">
						<li>Weapons, firearms and ammunition</li>
						<li>Narcotic drugs</li>
						<li>Bullion</li>
						<li>Cash (bank notes, currency notes and coins)</li>
						<li>Complete firearms, ammunition, explosives/explosive devices</li>
						<li>Human remains or ashes</li>
						<li>Illegal goods (these are goods which are considered illegal in the origin, the transit points and/or the destination
							countries and would include but not be limited to pirated goods, counterfeit goods and narcotics)</li>
						<li>Live animals (including but not limited to mammals, reptiles, birds and fish)</li>
						<li>Loose precious stones</li>
					</ul>

				</div>
			</div>

		

		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5 box-shadow">
			<h3 class="text-center">Restricted Items</h3>
			<div class="img col-sm-offset-4">
				<img src="/assets/images/Restricted.png" class="img-responsive" alt="">
			</div>
			<div class="strip bg-lime mg-t-20"></div>
			<p class="pd-l-20 pd-r-20">
				Hazardous material, dangerous, goods including but not limited to aerosols, flammable substances, dry ice, biological substances,
				UN classified dangerous goods and any goods specified as such under International Air Transport Association regulations
				(“IATA”), the Agreement on Dangerous Goods by Road ("ADR") or International Maritime Dangerous Goods ("IMDG") regulations
				or any related control sector or relevant association.
			</p>
			<div class="row mg-b-30">
				<a data-target="#collapse_2" class="btn bg-b col-sm-offset-5 c-wt" data-toggle="collapse">Read More...</a>
			</div>
			<div class="row pd-b-20">
				<div class="col-sm-8 col-sm-offset-1 collapse" id="collapse_2">
					<ul class="need-2-know-ul">
						<li>Air guns, imitation or replica firearms, ammunitions and firearm parts </li>
						<li>Antiques and works of art with a shipment value in excess of BWP 500,000</li>
						<li>Banderols / Tax stickers with a shipment value in excess of BWP 500,000</li>
						<li>Cigarettes and electronic cigarettes with a shipment value in excess of BWP 500,000</li>
						<li>Dangerous / hazardous goods including but not limited to perfumes, aftershaves, aerosols, flammable substances, dry
							ice, biological substances, UN classified dangerous goods and any goods specified as such under International Air
							Transport Association regulations (“IATA”), the Agreement on Dangerous Goods by Road ("ADR") or International Maritime
							Dangerous Goods ("IMDG") regulations. Applicable to all shipments valued in excess of BWP 500,000</li>
						<li>Financial and monetary commodities - examples include but are not limited to activated SIM cards for mobile phones,
							activated credit or cash dispenser cards, blank cheques, event tickets, lottery tickets, money or postal orders, pre-paid
							phone cards, tickets (blank stock), traveler’s cheques, vouchers/tokens, unused stamps etc. Applicable to all shipments
							valued in excess of BWP 500,000</li>
						<li>Furs and ivory</li>
						<li>Jewellery and watches and with individual values in excess of BWP 5,000. The shipment must not exceed BWP 100,000</li>
						<li>Perishable goods with a shipment value in excess of BWP 500,000</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
	<hr>
	<div class="row mg-b-30 ">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<b>NOTE: ZHE will not be accountable for any failure to comply in all respect with the applicable regulations in breach of the applicable law by the customer. ZHE Will always act on the information supplied by the customer, it is the customer’s sole responsibility
            to provide correct information about their consignments.</b>
		</div>
	</div>
</div>